.highligt1 {
    background-color: pink;
    font-size: 40px;
}

.highligt2 {
    background-color: blanchedalmond;

}

.highligt3 {
    background-color: rgb(0, 34, 255);

}

.highligt4 {
    background-color: rgb(255, 153, 0);
}



.center {
    text-align: center;
}

.left {
    text-align: left;
}

.right {
    text-align: right
}

.gachchan {
    text-decoration: underline;
}

.table1gach {
    border-collapse: collapse;
    border: 1px solid;
    

}

.table1gach2 {
    border-collapse: collapse;
    border: 1px solid;
    padding: 20px;
}


.muc1 li::marker {
    color: blue;
}

.tableMini {
    padding: 0;
    height: 1px;
    font-size: 5px;
}

.vuong {
    list-style-type: square;
}

.tron {
    list-style-type: circle;
}

.box {
    width: 50%;
    height: 300px;
    overflow-y: scroll;
    border: 1px solid black;
}

.donTrai {
    float: left;
}

.khungDuoi {

    border-bottom: 5px solid #000000;
}

.khungTren {
    border-radius: 2px;
    border-top: 5px solid #000000;
}

.khungPhai {
    border-radius: 2px;

    border-right: 5px solid #000000;
}

.khungTrai {
    border-radius: 2px;
    border-left: 5px solid #000000;
}
.menuNgang ul{
     display: flex;
}
.menuNgang li {
    list-style: none;
    margin: 0 15px;

    position: relative;

}



.menuNgang a {
    text-decoration: none;
}

.menuDoc li {
    list-style: none;
}



.menuDoc a {
    text-decoration: none;
}

.menuDocKhung li {
    border: 1px solid black;
}

.bold {
    font-weight: bold;
}

.fullDong{
    display: flex;
   flex:1;
}